@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="https://localhost:7202/Home/MovieSearch">
        <input type="submit" value="Movie Search" />
    </form>
    <form action="https://localhost:7202/Home/MovieNight">
        <input type="submit" value="Movie Night" />
    </form>
</div>

